[submodule "cmake/Modules/cpr"]
	path = cmake/Modules/cpr
	url = https://github.com/whoshuu/cpr.git
[submodule "thirdparty/spdlog"]
	path = thirdparty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "thirdparty/rapidjson"]
	path = thirdparty/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "thirdparty/cpp-netlib"]
	path = thirdparty/cpp-netlib
	url = https://github.com/cpp-netlib/cpp-netlib.git
